<SiebelMessage MessageId="" MessageType="Integration Object" IntObjectName="FRMCASI">
<ListaConsultaMeioDeAcesso>
<Dados>
<OrigemRequisicao>$1</OrigemRequisicao>
<ListaMeioDeAcesso>
<MeioDeAcesso>
<NumeroContaFatura>$2</NumeroContaFatura>
<DDD>$3</DDD>
<Designacao>$4</Designacao>
<Classificacao>$5</Classificacao>
</MeioDeAcesso>
</ListaMeioDeAcesso>
</Dados>
</ListaConsultaMeioDeAcesso>
</SiebelMessage>
